*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.conteinerAll{
  margin: auto;
  max-width: 1200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
      .conteinerAll .resenia {
        display: flex;
        flex-direction: column;
        margin: 10px;
      }
        .resenia p {
          margin: 1em 0px;
          font-size: 1.2em;
          font-family: 'Barlow Condensed', sans-serif;
          text-align: center;
        }
          .resenia h3 {
            font-size: 1.6em;
            text-align: center;
          }

.has-submenu {
  justify-content: center;
  width: 100%;

}

nav ul .has-submenu{
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

  nav li {
    position: relative;
  }
    nav ul {
    width: 100%;
    list-style: none;
    }
  
  nav a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #4A86E8;
    color: aliceblue;
  }
  
  .submenu {
    display: none;
    width: 100%;
    z-index: 1;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    transition: all 200ms;
  }
    
    nav li:hover .submenu {
        display: block;
    }
  
  /* Agregar estilos para el menú vertical */
  nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
      nav ul {
        width: 100%;
        margin: 0.2em;
        display: flex;
        flex-direction: column;
      }
        nav ul li a {
          text-align: center;
        }
          

  .imagen1 {
    width: 260px;
    margin: auto;
  }
  
@media screen and (max-width: 500px){
  nav{
    flex-direction: column;
  }
  nav .submenu{
    width: 100%;
  }     
}