*{
    margin: 0px;
    padding: 0px;
}

.conteinerAll{
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
    .conteinerAll a {
        margin: 0.5rem;
    }

#listaPracticas,
#listaNormativos{
    display: none;
}

#listaPracticas,
#listaNormativos {
    border: 2px solid black;
}

