*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.conteinerAll{
  margin: auto;
  max-width: 1200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
      .conteinerAll .resenia {
        display: flex;
        flex-direction: column;
        margin: 10px;
      }
        .resenia p {
          margin: 1em 0px;
          font-size: 1.2em;
          font-family: 'Barlow Condensed', sans-serif;
          text-align: center;
        }
          .resenia h3 {
            font-size: 1.6em;
            text-align: center;
          }

.has-submenu {
  justify-content: center;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul .has-submenu{
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  
}

  .has-submenu > a {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .has-submenu > a:hover {
    background-color: #4A86E8;
    color: aliceblue;
  }
  
  .submenu {
    display: none;
    width: 100%;
    z-index: 1;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    transition: all 200ms;
  }
    .submenu ul {
      list-style: none;
      border-top: none;
      border-bottom: 1px solid #ccc;
    }
      .submenu ul li{
        padding: 10px;
        text-align: center;
      }
      .submenu ul li:hover {
        background-color: #4A86E8;
      }
        .submenu ul li a {
          text-decoration: none;
          padding: 10px;
          color: black;                  
        }
        .submenu ul li a:hover {
          color: aliceblue;
        }
    
  
  /* Agregar estilos para el menú vertical */
  nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
    nav section {
      margin: 0em 0.4em;
    }
      

  .imagen1 {
    width: 100%;
    margin: auto;
  }
  
@media screen and (max-width: 750px){
  nav{
    flex-direction: column;
  }
  nav .submenu{
    width: 100%;
  }     
  .has-submenu > a {
    margin: 0.6em 0em;
  }
}